		<nav class="hud_nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<div class="hud_nav_list" role="navigation">
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}to-from-bwi/parking">
						<span class="hud_nav_symbol">			
							<svg class="symbol symbol_space-car">
								<use xlink:href="#space-car"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Parking</span>
					</a>
				</div>
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}flying-with-us/flights">
						<span class="hud_nav_symbol">
							<svg class="symbol symbol_airplane">
								<use xlink:href="#airplane"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Flights</span>
					</a>
				</div>
				<div class="hud_nav_item">
					<a class="hud_nav_link" href="{{ www_root }}wayfinding">
						<span class="hud_nav_symbol">
							<svg class="symbol symbol_marker">
								<use xlink:href="#marker"></use>
							</svg>
						</span>
						<span class="hud_nav_label">Interactive Map</span>
					</a>
				</div>
			</div>
		</nav>