
<header class="hud_header">
	<span class="hud_title_flag">
		<span class="hud_title_indicator">
			<span class="hud_title_icon hud_title_icon_exclamation">
				<svg aria-hidden="true" class="symbol symbol_exclamation symbol_white">
					<use xlink:href="#exclamation"></use>
				</svg>
			</span>
		</span>
	</span>
	<h2 class="hud_title">{{ content.field_title[0]["#context"]["value"] }}</h2>
</header>

{{ content.field_notifications }}
