<div class="plan_item">
	<h4 class="plan_item_title">{{ content.field_title[0]["#context"]["value"] }}</h4>
	<h5 class="plan_item_caption">{{ content.field_subtitle[0]["#context"]["value"] }}</h5>
</div>